*{
    font-family: muli;
}

.main_nav{
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_container{
    align-self: center;
    margin-left: 5%;
    font-size: 20px;
}

.element_container ul{
    align-self: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 15px;
}


.element_container li{
    margin-right: 5%;
}

.element_container{
    margin-right: 5%;
}

a{
    text-decoration: none;
    color: black;
}
