.main_nav{
    width:100%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
}

.logo_container{
    align-self: center;

}

.element_container ul{
    align-self: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.element_container li{
    margin-right: 3%;
}
